# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
http-loadtester-go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
config*.yml

.tools

job_*.md
*.env

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.local/
bin/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
**/dist/
/tmp
out-tsc
**/out-tsc
release/
**/release
# Only exists if Bazel was run
/bazel-out

# dependencies
ui/node_modules
ui/app/node_modules/*
ui/**/node_modules/
**/node_modules/*
# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/reports/*.md
/reports/*.yml
/reports/*.yaml
/reports/*.json